// Amelioration des attributs css
.clique {
    border : 1px solid black;
    margin-top : 3px;
    border-radius: 24px;
    background-color: $fontwhite;
}
.section1 {
    margin-bottom: 30px;
}
body{
    color : $fontblue;
    font-weight: 600;
    font-family: cursive;
    background-color: $bg;
    margin-bottom: 10px;
}
